/*VARIABLES*/
:root {
    --color-fondo: #f4f4f4;
    --color-texto: #202020;
    --color-principal: #ea8912;
    --color-hover: #be6c06;
    --color-footer: #333;
    
    --fuente-principal: 'Arial', sans-serif;
    --fuente-secundaria: 'Verdana', sans-serif;

    --tamaño-icono: 1.5rem; 
    --tamaño-titulo: 2.25rem; 
    --tamaño-subtitulo: 1.75rem; 
    --tamaño-texto: 1rem; 
}

/*Reset general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5%; /*Espacio para el header*/
    overflow-x: hidden; /*Evita el desbordamiento horizontal*/
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-footer);
    padding: 2.5%;
    text-align: center;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5%;
}

.navbar .logo {
    font-size: var(--tamaño-icono); 
    font-weight: bold; 
    display: inline-block; 
}

/*Estilo para el contenedor del login y el carrito*/
.navbar > div {
    display: flex; /*Alinea los elementos en una fila*/
    gap: 1.875rem; 
    align-items: center; 
}

.login {
    margin-right: auto; 
}

.carrito {
    margin-left: auto; 
}
  
.navbar .logo a {
    text-decoration: none; 
    color: var(--color-fondo);
    font-family: var(--fuente-principal); 
    padding: 0.625rem 1.25rem; 
    border: 2px solid transparent; 
    border-radius: 0.3125rem; 
    transition: all 0.3s ease; /*Animacion suave en hover */
}
  
.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search select,
.navbar-search input {
    padding: 0.5rem; 
    margin-right: 0.625rem;
    border-radius: 0.3125rem; 
    border: 1px solid #ddd;
}

.navbar-search button {
    padding: 0.5rem 0.75rem; 
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
}

.navbar-search button:hover {
    background-color: var(--color-hover);
}

.login button {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 2.1875rem; 
    height: 2.1875rem; 
}

.login button:hover {
    background-color: var(--color-hover);
}

.carrito button {
    padding: 0.625rem 0.9375rem; 
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
}

.carrito button:hover {
    background-color: var(--color-hover);
}

/*Seccion de inicio*/
.inicio {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.imagen-inicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-fondo);
    text-align: center;
}

.texto-inicio h1 {
    font-size: var(--tamaño-titulo); 
    margin-bottom: 1.25rem; 
}

.texto-inicio p {
    font-size: 1.125rem; 
}

/*Cargando*/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#loading img {
    width: 3.125rem; 
}

/*Seccion de Productos*/
.productos {
    padding: 1.875rem; 
    text-align: center;
}

.productos-title {
    margin-top: 5%;
    margin-bottom: 5%;
}

.productos-title h2 {
    font-size: var(--tamaño-subtitulo); 
}

.productos-title span {
    color: var(--color-principal);
}

.results {
    margin-bottom: 1.25rem; 
}

#productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem; 
    justify-items: center;
}

.producto {
    background-color: var(--color-fondo);
    border: 1px solid #ddd;
    padding-bottom: 1.25rem; 
    border-radius: 0.5rem; 
    width: 100%;
    max-width: 18.75rem; 
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem; 
    max-height: 18.75rem; 
    object-fit: cover;
}

.producto h3 {
    font-size: 1.125rem;
    margin: 0.625rem 0; 
}

.producto p {
    font-size: var(--tamaño-texto); 
    color: #555;
}

#verMas {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    padding: 0.625rem 1.25rem; 
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3125rem; 
    margin-top: 1.25rem; 
}

#verMas:hover {
    background-color: var(--color-hover);
}

/*Seccion de Categorias*/
.categorias {
    padding: 1.875rem; 
    text-align: center;
    margin-top: 3.125rem; 
    margin-bottom: 4.6875rem; 
    max-width: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.categorias-title {
    margin-bottom: 3.125rem;
}

.categorias-title h2 {
    font-size: var(--tamaño-subtitulo); 
    word-wrap: break-word;
}

.categorias-title span {
    color: var(--color-principal);
}

#categorias-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem; 
    justify-items: center;
}

.categoria {
    background-color: var(--color-principal);
    border: 1px solid #ddd;
    height: 10rem; 
    width: 10rem; 
    text-align: center;
    border-radius: 0.5rem; 
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;

    width: 100%;
    box-sizing: border-box;
}

/*Efecto hover sobre la categoria*/
.categoria:hover {
    transform: scale(1.05);
}

/*Imagen de la categoria*/
.categoria img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem; 
    max-height: 18.75rem; 
    object-fit: cover;
}

.categoria h3 {
    font-size: 1.125rem; 
    margin: 0.625rem 0; 
}

/*Titulo de la categoria centrado sobre la imagen*/
.categoria p {
    position: absolute;
    bottom: 0.625rem; 
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: var(--tamaño-texto); 
    color: var(--color-fondo);
    font-weight: bold;
    z-index: 1000;
    padding: 0.3125rem 0.625rem; 
    border-radius: 0.3125rem; 
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

/*Mostrar el texto cuando se hace hover*/
.categoria:hover p {
    opacity: 1;
    background: none; 
}

@media (max-width: 768px) {
    .categorias {
        flex-direction: column; /*Esto cambia la disposición horizontal a vertical*/
    }
}

/*Detalles del Producto*/
#detalles {
    display: none;
    background-color: var(--color-fondo);
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 37.5rem; 
    padding: 1.25rem; 
    padding-top: 5rem; 
    border-radius: 0.75rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3); 
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1001;
    text-align: center;
}
#detalles img {
    width: 100%;
    height: auto;
    max-height: 18.75rem; 
    object-fit: cover;
    border-radius: 0.5rem; 
    margin-bottom: 1.25rem; 
}

#detalles h2 {
    font-size: var(--tamaño-icono); 
    margin-bottom: 0.625rem; 
    color: var(--color-texto);
}

#detalles p {
    font-size: var(--tamaño-texto); 
    color: #555;
    line-height: 1.5;
    margin: 0.625rem 0; 
    text-align: left;
    padding: 0.625rem; 
    font-family: var(--fuente-secundaria);
}

#detalles button {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    padding: 0.625rem 1.25rem; 
    border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
    font-size: var(--tamaño-texto); 
}

#detalles button:hover {
    background-color: var(--color-hover);
}

#cerrarDetalles {
    position: absolute;
    top: 1.25rem; 
    right: 1.25rem; 
    cursor: pointer;
    padding: 0.5rem 0.75rem; 
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    border-radius: 50%;
    font-size: var(--tamaño-texto); 
    line-height: 1;
    z-index: 1002;
}

#cerrarDetalles:hover {
    background-color: var(--color-hover);
}

/*Fondo oscuro para deshabilitar interaccion*/
#fondoOscuro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}

/*Mostrar ventana de detalles y fondo oscuro*/
#detalles.active,
#fondoOscuro.active {
    display: block;
}

/*Ventana del Carrito*/
#ventanaCarrito {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 1.25rem; 
    padding-top: 5rem; 
    border-radius: 0.75rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3); 
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1001;
    text-align: center;
}

#ventanaCarrito h2 {
    font-size: 1.5rem; 
    margin-bottom: 1.25rem;
    color: #333;
}

#listadoCarrito {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.25rem; 
}

#listadoCarrito li #text {
    display: flex;
    justify-content: flex-end; 
    padding: 0.625rem; 
    border-bottom: 1px solid #ddd;
    font-size: 1.125rem; 
    color: #555;
}

#listadoCarrito button {
    background-color: var(--color-principal);
    color: #fff;
    border: none;
    padding: 0.5rem 0.75rem; 
    border-radius: 0.3125rem; 
    cursor: pointer;
    font-size: 1rem; 
    margin: 0.3125rem; 
    text-align: right;
}

#listadoCarrito button:hover {
    background-color: var(--color-hover);
}

#carritoResumen {
    font-size: 1.25rem; 
    margin: 1.25rem 0; 
}

#carritoResumen p {
    margin: 0.625rem 0; 
}

#carritoResumen span {
    font-weight: bold;
    color: var(--color-principal);
}

#realizarPedido {
    background-color: var(--color-principal);
    color: #fff;
    padding: 0.625rem 1.25rem; 
    font-size: 1.125rem; 
    border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
    margin-top: 1.25rem; 
}

#realizarPedido:hover {
    background-color: var(--color-hover);
}

/*Fondo oscuro para deshabilitar interaccion*/
#fondoOscuro.active {
    display: block;
}

/*Cerrar ventana*/
#cerrarCarrito {
    position: absolute;
    top: 1.25rem; 
    right: 1.25rem; 
    cursor: pointer;
    padding: 0.5rem 0.75rem; 
    background-color: var(--color-principal);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1rem; 
    line-height: 1;
    z-index: 1002;
}

#cerrarCarrito:hover {
    background-color: var(--color-hover);
}

#mensajePedido {
    display: none;
    background-color: var(--color-principal);
    color: white; 
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 37.5rem; 
    padding: 1.25rem; 
    border-radius: 0.75rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3); 
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1001;
    text-align: center;
}

/*Footer*/
footer {
    background-color: var(--color-footer);
    color: var(--color-fondo);
    padding: 2%;
}

/*Contenedor principal del footer*/
footer .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.25rem; 
}

/*Estilo de cada sección del footer*/
footer .footer-section {
    width: 20%;
    padding: 0.625rem; 
}

footer .footer-section h4 {
    font-size: 1.125rem; 
    margin-bottom: 0.625rem; 
    font-weight: bold;
}

footer .footer-section ul {
    list-style-type: none;
    padding: 0;
}

footer .footer-section ul li {
    margin: 0.5rem 0; 
}

footer .footer-section a {
    color: var(--color-fondo);
    text-decoration: none;
}

footer .footer-section a:hover {
    text-decoration: underline;
}

/*Iconos de metodos de pago*/
footer .payment-icons {
    text-align: left;
    margin-top: 1.25rem; 
}

footer .payment-icons a {
    color: var(--color-fondo);
    margin: 0 0.625rem; 
    font-size: var(--tamaño-icono); 
}

footer .payment-icons p {
    margin-top: 0.625rem; 
    font-size: 0.875rem; 
}

/*Iconos de redes sociales*/
footer .social-links {
    text-align: left;
}

footer .social-links a {
    color: var(--color-fondo);
    margin: 0 0.625rem; 
    font-size: var(--tamaño-icono); 
}

footer .social-links p {
    margin-top: 0 0.625rem;
    font-size: 0.875rem;
}

footer p {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}


/*Medios de pantalla pequeños*/
@media (max-width: 768px) {
    .navbar .nav-links {
        position: absolute;
        top: 70px; 
        left: 0;
        width: 100%;
        background-color: #343a40;
        display: none; 
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;
    }
  
    .navbar .nav-links.active {
        display: flex; 
    }
}